.company {
  margin: 0;
}

.label {
  font-weight: 800;
  margin: 0;
}

.info-wrap {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 179px;
  height: 55px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}
